[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
bumpversion = {version = "*"}
twine = {version = "*"}
pipenv-to-requirements = "*"
pipenv-setup = "*"
black = "*"
pbr = "*"
mkdocs = "*"
mkdocs-gen-files = "*"
mkdocs-material = "*"
mkdocstrings = "*"
pymdown-extensions = "*"

[packages]
notion-client = "*"
click = "*"
Pyzotero = "*"
simple-parsing = "*"
tqdm = "*"
pyyaml = "*"
dataclass-dict-convert = "*"
platformdirs = "*"
notion = {editable = true, git = "https://github.com/EgorDm/notion-py.git"}
inquirer = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true

[scripts]
test = "python -m unittest discover -s test -p \"Test*.py\""
