[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
notion-client = "*"
click = "*"
Pyzotero = "*"
simple-parsing = "*"
tqdm = "*"
pyyaml = "*"
dataclass-dict-convert = "*"
dt = "*"

[requires]
python_version = "3.8"
